<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Gaia Project</title>
    <script>
        var ENV = "<%= nodeEnv %>";
    </script>
    <style>
        #gaia-root {
            text-align: center;
        }
        #gaia-root p {
            text-align: center;
            font-size: 30px;
        }
    </style>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="gaia-root">
        <img src="/public/Gaia.jpg" alt="" />
        <% if(typeof version !==undefined ) { %>
        <p><%= name %>@<%= version %></p>
        <% } %>
        <button onclick="window.open('/api/about', '_blank')">msg</button>
    </div>
</body>

</html>